//- Footer
.p-page-top__wrapper
  a.p-page-top__btn.js-pageTop(aria-label="ページトップへ戻る" href="#")
    svg
      use(xlink:href="/assets/svg/sprite.svg")

footer.l-footer.u-bg-color--main
  .l-footer__inner
    ul.p-footer__nav
      li.p-footer__nav-item
        a.p-footer__nav-link(href="/") ホーム
      li.p-footer__nav-item
        a.p-footer__nav-link(href="sample.html") サンプル
      li.p-footer__nav-item
        a.p-footer__nav-link(href="sample02.html") サンプル2

  p.p-footer__copy Copyright &copy; 2021 XXX.
//- /Footer
