//- Header
header.l-header.u-bg-color--accent
  .l-header__inner 
    .p-header__logo 
      a.p-header__logo-link(href="/")
    button.p-header__menu-btn.js-menu(aria-controls="header-nav", aria-expanded="false", type="button") ボタンです

    //- グローバルナビゲーション
    nav#header-nav.p-header__nav
      ul.p-header__nav-list
        li.p-header__nav-item
          a.p-header__nav-link(href="/") ホーム
        li.p-header__nav-item
          a.p-header__nav-link(href="sample.html") サンプル
        li.p-header__nav-item
          a.p-header__nav-link(href="sample02.html") サンプル2
//- /Header
