-
  var meta = {
    "name": "サイト名",
    "home": {
      "title": "サイト名",
      "description": "サイトの概要",
      "keywords": "キーワード",
      "url": "http://example.com",
      "ogpType": "website",
      "ogpImage": "/ogp.jpg",
      "fbAppId": "",
      "fbAdmins": "",
      "twitterCard": "summary_large_image",
      "twitterSite": "@SiteAccount"
    },
    "company": {
      "title": "会社概要です",
      "description": "サイトの概要",
      "keywords": "キーワード",
      "url": "http://example.com",
      "ogpType": "website",
      "ogpImage": "/ogp.jpg",
      "fbAppId": "",
      "fbAdmins": "",
      "twitterCard": "summary_large_image",
      "twitterSite": "@SiteAccount"
    },
    "hoge": {
      "title": "会社概要です",
      "description": "サイトの概要",
      "keywords": "キーワード",
      "url": "http://example.com",
      "ogpType": "website",
      "ogpImage": "/ogp.jpg",
      "fbAppId": "",
      "fbAdmins": "",
      "twitterCard": "summary_large_image",
      "twitterSite": "@SiteAccount"
    }
  };
