include ../_data/_pagedata

block page
doctype html
html(lang="ja")
  include ../_partial/_head
  body
    .l-wrapper
      include ../_partial/_header
      block main
      include ../_partial/_footer
      include ../_partial/_script
