extends ./_template/_layout
block page
  - var page = "company";

block main
  main#top.l-main
    .l-container
      img(src="assets/img/fushi.png")
      img(src="assets/img/hito.png")
      img(src="assets/img/zeni.png")
    p aaaabbbb
