extends ./_template/_layout
block page
  - var page = "home";

block main
  main#top.l-main

    .c-container
      ul.p-about__list
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="assets/img/fushi.png" alt="")
          p aaaaaaaaaaaaaaaaaaa
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="assets/img/fushi.png" alt="")
          p aaaaaaaaaaaaaaaaaaa
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="assets/img/fushi.png" alt="")
          p aaaaaaaaaaaaaaaaaaa
        li.p-about__item
          .p-about__img-wrapper
            img.p-about__img(src="assets/img/fushi.png" alt="")
          p aaaaaaaaaaaaaaaaaaa

      section#hoge hugahogi
